.highlight-text {
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.lightgreen {
  background-color: lightgreen;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.lightblue {
  background-color: lightblue;
}

.D8BFD8 {
  background-color: #D8BFD8;
}