/* src/components/Login/styles.css */

.auth-wrapper {
  margin: auto 10px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align content to the top */
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

.loginContainer {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.microsoftIcon {
  margin-right: 10px;
  font-size: 25px;
}

.googleButton {
  background-color: #4285f4;
  color: white;
}

.microsoftButton {
  background-color: #0078d4;
  color: white;
}

.googleIcon {
  background-color: white;
  border-radius: 50%;
  padding: 2px; /* Adjust padding as needed */
  margin-right: 10px;
  font-size: 27px;
}