/* src/components/Login/styles.css */

.auth-wrapper {
  margin: auto 10px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

/* Title style */
.title {
  margin-bottom: 20px;
  font-size: 24px; /* Increased font size for better readability */
  font-family: Arial, sans-serif;
}

/* Button styles */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Make the button responsive */
  max-width: 250px;
  margin: 10px auto;
  padding: 12px; /* Increased padding for better touch interaction */
  font-size: 18px; /* Increased font size */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease; /* Transition effect */
}

/* Google button specific styles */
.googleButton {
  background-color: #4285f4;
  color: white;
}

/* Microsoft button specific styles */
.microsoftButton {
  background-color: #0078d4;
  color: white;
}

.emailButton {
  background-color: #9f2a2a;
  color: white;
}

.emailInput {
  width: 100%;                    /* Ajusta a largura ao contêiner */
  max-width: 400px;               /* Limita a largura */
  padding: 10px 12px;             /* Padding interno para toque e conforto visual */
  font-size: 16px;                /* Tamanho da fonte */
  border: 1px solid #ccc;         /* Borda leve para indicar o campo */
  border-radius: 4px;             /* Borda arredondada */
  outline: none;                  /* Remove o contorno padrão */
  transition: border-color 0.3s;  /* Transição para a mudança de cor da borda */
  font-family: Arial, sans-serif; /* Fonte padrão */
}

.emailInput:focus {
  border-color: #0078d4;          /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.2); /* Efeito de sombra leve */
}


/* Google icon specific styles */
.googleIcon {
  background-color: white;
  border-radius: 50%;
  padding: 4px; /* Increased padding */
  margin-right: 10px;
  font-size: 30px; /* Increased font size */
}

/* Microsoft icon specific styles */
.microsoftIcon {
  margin-right: 10px;
  font-size: 28px; /* Increased font size */
}

/* email icon specific styles */
.emailIcon {
  margin-right: 10px;
  font-size: 28px; /* Increased font size */
}

/* Error message styling */
.errorMessage {
  color: red;
  margin-top: 15px;
}

/* Responsive styles */
@media (max-width: 600px) {
  .title {
    font-size: 30px; /* Increased font size for mobile */
  }

  .button {
    font-size: 20px; /* Increased font size for buttons */
    padding: 15px; /* Increased padding for better touch interaction */
  }

  .googleIcon {
    font-size: 36px; /* Increased font size for icons */
  }

  .microsoftIcon {
    font-size: 34px; /* Increased font size for icons */
  }
}

